/*
  Name: Robin Luo
  Date: November 17, 2021
  Section: CSE 154 AB
  This is the styles.css main stylesheet for my friend generator website. It contains the
  formatting for most of the page in a cute theme. It includes adding the background images, the
  styling for the buttons, etc.
*/

/*
background image source:
https://www.teahub.io/viewwp/xmoobT_background-gingham-check-and-girly-image-empire-state/
*/
#body {
  background-image: url("img/background.jpg");
}

#header {
  font-family: 'Shrikhand', cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  text-shadow: -2px 0 #a84767, 0 2px #a84767, 2px 0 #a84767, 0 -2px #a84767;
}

#header h1 {
  margin-bottom: 0px;
}

#header h2 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f59db9;
}

img {
  height: 200px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

/* day image source:
https://patternvomit.tumblr.com/post/72151250450/dimespin-i-made-another-seamless-repeating-tile
*/
#photos {
  background-image: url("img/day.png");
  background-size: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  font-family: 'Schoolbell', cursive;
  color: #6a6a90;
  display: inline-block;
  padding: 11px 60px;
  font-size: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #fff1eb;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #db8ca5;
}

button:hover {
  background-color: #f0c6d3;
}

button:active {
  background-color: #fff1eb;
  box-shadow: 0 5px #db8ca5;
  transform: translateY(4px);
}